@import url("https://fonts.googleapis.com/css?family=Slabo+27px");

body {
    font-family: 'Slabo 27px';
    background-image: url('../../public/img/pattern.jpg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;

}


body a {
    text-decoration: none;
}

nav li {
    display: inline-block;
    list-style: none;
    line-height: 60px;
    padding: 5px;
    margin: 0 10px;
}
li {
    list-style: none;
}
nav li:hover {
    background-color: cornflowerblue;
    color: white;
}

section {
    background-color: white;
    max-width: 800px;
    margin: 10px auto 0 auto;
    padding: 10px 10px;
}

section h1 {
    text-align: center;
    line-height: 60px;
    margin: 20px;
}

section h3 {
    text-align: left;
    line-height: 30px;
    margin-bottom: 1em;
    margin-top: 2em;

}

p {
    text-align: justify;
}
main {
    margin-bottom: 50px;
}

footer {
    background-color: black;
    color: white;
    font-size: small;
    line-height: 30px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

label {
    display: block;
    width: 500px;
    padding: 10px 0px;
}

input,textarea {
    width: 250px;
}
b {
    display: inline-block;
    width: 100px;
}
th {
    width: 100px;
    border-bottom: 2px solid orange;
}
tr th:nth-child(1){
    width: 20px;
}
td{
    text-align: center;
    border-bottom:1px solid greenyellow;
}
